---
layout: default
---
<section id="main_content" class="inner">
<h1>{{ page.title }}</h1>

<info datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%b %d, %Y" }}
</info>
<div class="body">{{ content }}</div>
<br/>
<br/>
<hr/>
<nav id="related">
  <h3>Related Posts</h3>
  <ul class="body">
    {% for post in site.related_posts limit:5 %}
      <p><li><span>{{ post.date | date_to_string }}</span> - <a href="/blog{{ post.url }}">{{ post.title }}</a></li></p>
    {% endfor %}
  </ul>
</nav>
<hr/>
<h3>Comments</h3>
<br/>
  {% if page.disqus_comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      window.disqus_identifier = {% if page.tumblr_id %}"{{ page.tumblr_id }}"{% else %}"{{ page.id }}"{% endif %};
    </script>
    <script async src="http://siduzy.disqus.com/embed.js"></script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript=siduzy">comments powered by Disqus.</a>
    </noscript>
    {% include disqus.html %}
  </div>
  {% endif %}
</section>


